<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rebbit13 GO messenger</title>
    <link rel="stylesheet" href="static/css/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    </style>

</head>
<body>
    <div class="page">
        <div class="rooms">
            <nav id="room-list" class="room-list">
                <form class="room-list-item" action="">
                    <button disabled>Название чата</button>
                </form>
                <form class="room-list-item" action="">
                    <button>Название чата</button>
                </form>
                <form class="room-list-item" action="">
                    <button>Название чата</button>
                </form>
                <form class="room-list-item" action="">
                    <button>Название чата</button>
                </form>
                <form class="room-list-item" action="">
                    <button>Название чата</button>
                </form>
                <form class="room-list-item" action="">
                    <button>Название чата</button>
                </form>
                <form class="room-list-item" action="">
                    <button>Название чата</button>
                </form>
            </nav>
        </div>
        <div class="messages">
            <div class="messages-container">
                <ul id="messages-list" class="messages-list">
                    <li class="message">
                        <p class="message-author">Rebbit13</p>
                        <p class="message-created-at">10.20.2020</p>
                        <p class="message-text">Опасайся Кирилла </p>
                    </li>
                    <li class="message">
                        <p class="message-author">Elfi</p>
                        <p class="message-created-at">10.20.2020</p>
                        <p class="message-text">Он просто любитель булочек</p>
                    </li>
                </ul>
            </div>
            <div class="massage-input-container">
                <input class="message-input" type="text">
                <div class="send-message">
                    <form action="">
                        <button>Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="registration">
        <div class="registration-form-container">
            <h1>Rebbit13 go messenger</h1>
            <div class="registration-form">
                <p>Username</p>
                <input id="registration-form-username" type="text">
                <p>Password</p>
                <input id="registration-form-password" type="password">
                <form class="registration-form-button" action="">
                    <button>Sign up</button>
                </form>
                <form class="registration-form-button" action="">
                    <button>Sign in</button>
                </form>
            </div>

        </div>

    </div>
    <script src="static/js/index.js"></script>
</body>
</html>
