<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rebbit13 GO messenger</title>
    <link rel="stylesheet" href="static/css/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    </style>

</head>
<body>
    <div class="page">
        <div class="rooms">
            <nav id="room-list" class="room-list">
            </nav>
        </div>
        <div class="messages">
            <div class="messages-container">
                <ul id="messages-list" class="messages-list">
                </ul>
            </div>
            <div class="massage-input-container">
                <input class="message-input" type="text">
                <div class="send-message">
                    <form action="">
                        <button>
                            <img src="static/images/svg/free-icon-angle-double-right-3916755.svg" alt="send">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="registration">
        <div class="registration-form-container">
            <h1>Rebbit13 go messenger</h1>
            <div class="registration-form">
                <p>Username</p>
                <input id="registration-form-username" type="text">
                <p>Password</p>
                <input id="registration-form-password" type="password">
                <form id="sign_up" class="registration-form-button" action="">
                    <button>Sign up</button>
                </form>
                <form id="sign_in" class="registration-form-button" action="">
                    <button>Sign in</button>
                </form>
            </div>
        </div>
    </div>
    <script src="static/js/index.js"></script>
</body>
</html>
